<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd">
  <!-- Employee employeeobj = new Employee()  -->
  <bean id="employeeobj" class="spring.Employee">
  <property name="ename" value="Gitanjali"></property>
  
   </bean>
   
 <bean id="employeeobj1" class="spring.Employee"> 
 
  <property name="ename" value="Sanskriti"></property>
  
 </bean>
  </beans>